<div class="modal-content border bg-light" id="singleFriend">
    <div class="modal-header">
        <h5 class="modal-title" id ="friendName">{{Name}}, {{Age}}</h5>
    </div>
    <div class="modal-body">
        <p id="friendBio">{{Bio}}</p>
    </div>    
</div>