<nav class="navbar navbar-expand" style="background-color: #9a7bff">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Fitness App</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                </ul>
                <ul class="navbar-nav d-flex">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdwon-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-gear-fill"></i>Settings</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/settings">Help</a></li>
                            <li><a class="dropdown-item" href="/friends">Friends</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
</nav>
    <div class="container bg-light top-buffer">
        <div class="row">
            <div class="col">
                <p class="fs-2">Help</p>
            </div>
        </div>

        <div class="modal-content border bg-light">
            <div class="modal-header">
                <h5 class="modal-title">Trouble finding a friend?</h5>
            </div>
            <div class="modal-body">
                <p>Filter out your friends by using the search tab on the friends page</p>
            </div>

        </div>
        <div class="modal-content border bg-light">
            <div class="modal-header">
                <h5 class="modal-title">Made a mistake adding a exercise to your workout?</h5>
            </div>
            <div class="modal-body">
                <p>You can click on the "edit workout" button, and modify the workout</p>
            </div>

        </div>
        <div class="modal-content border bg-light">
            <div class="modal-header">
                <h5 class="modal-title">Contact us!</h5>
            </div>
            <div class="modal-body">
                <p>Problem still not answered? Feel free to contact us at ornesn@oregonstate.edu to get your question answered.</p>
            </div>

        </div>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>